.cat-info {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.cat-img-thumb {
  width: 500px;
  height: 500px;
  flex-shrink: 0;
}
.cat-info-img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: left top;
}
.cat-info-thumb {
  max-width: 500px;
}

.cat-info-breed {
  margin-top: 0;
}

.cat-info-description {
}

.cat-info-temperament {
  margin-bottom: 0;
}
